# 의존성
node_modules/

# 테스트 결과물 (매번 새로 생성됨)
test-results/
playwright-report/
blob-report/
playwright/.cache/

# 환경 변수 파일 (나중에 계정/API키 넣을 때)
.env
.env.local

# OS
.DS_Store
Thumbs.db

# 에디터
.vscode/
.idea/

# 환경변수 (민감 정보)
.env

# Playwright 로그인 상태 저장 파일
.auth/

# bddgen 산출물 (자동 생성)
.features-gen/

# Allure 리포트
allure-results/
allure-report/